node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

out/
dist/
*.tsbuildinfo

.vscode-test/
.vscode/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

logs
*.log

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

.eslintcache

.npm

.node_repl_history

*.tgz

.yarn-integrity

.env
.env.test

.cache
.parcel-cache

.next

.nuxt

.vuepress/dist

.serverless/

.fusebox/

.dynamodb/

.tern-port

*.vsix